<% include partials/header %>


<div class="container my-4">
  
  <h1 class="text-center">Create a new campground</h1>
  <div class="col-xs-12 col-md-6 col-lg-4 mx-auto my-4">
    <form action="/campgrounds" method="POST">
        <div class="form-group">
            <input class="form-control" type="test" name="name" placeholder="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="test" name="image" placeholder="image">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-lg btn-block">Submit!</button>
        </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>

  <% include partials/footer %>
    
</div>